 # Note: Run `xhost +local:docker` on the host before starting this container

services:
  ros2_docker_app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ros2_docker:latest
    environment:
      - WAYLAND_DISPLAY=wayland-0
      - XDG_RUNTIME_DIR=/run/user/222
      - DISPLAY=${DISPLAY}
      - QT_QPA_PLATFORM=wayland;xcb
      - LIBGL_ALWAYS_SOFTWARE=1 
      - MESA_GL_VERSION_OVERRIDE=3.3
      # This points the container to the authority file we mount below
      - XAUTHORITY=/home/ros/.Xauthority
    volumes:
      # Wayland: Mount the socket into the expected runtime dir inside the container
      - ${XDG_RUNTIME_DIR}/wayland-0:/run/user/222/wayland-0
      # X11: Fallback
      - /tmp/.X11-unix:/tmp/.X11-unix
      # Auth: Allow the 'ros' user to authenticate with your XWayland server
      - ${XAUTHORITY:-$HOME/.Xauthority}:/home/ros/.Xauthority:rw
      - /dev:/dev
    user: ros
    hostname: ros2_docker
    device_cgroup_rules:
      - "c 188:* rwm"
